body {
    color: #1D1D1D;
    background-color: #FFF;
    font: normal 112.5%/1.65 "Vollkorn","ff-meta-serif-web-pro",serif;
    margin: 0px auto 0px auto;
    width: 80%;
    max-width: 700px;
    background: url('../images/bg.png') repeat;
    text-align: justify;
    letter-spacing: normal;
}

nav#navigation {
    border-bottom: 1.5px solid rgba(156,153,153,0.69);
    margin-bottom: 30px;
    padding: 12px 0px 5px 0px;
    text-align: right;
}

nav#navigation a {
    letter-spacing: normal;
    line-height: 2;
    padding: 0 0.5em 0 0.25em;
    margin-bottom: 0;
    color: #d94426;
    text-decoration: none;
}

div#footer {
    border-top: 1.5px solid rgba(156,153,153,0.69);
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    text-align: center;
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
    margin: 20px auto;
    text-align: center;
}

section#intro {
    margin: 20px auto;
}

section #contact {
    margin-left: 250px;
}
